body{
    background-color:rgba(15, 19, 37, 0.747);
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}




.Cabecalho{
background-image: url(imgs/pexels-benjamin-farren-9504092.jpg);
height: 800px;
background-size: cover;
padding-top: 1px;
background-attachment:fixed;

}


.div-cabecalho{
   /* background-color: aqua;*/
    padding: 40px;
    margin: 100px auto 0px auto;
    text-align: center;
    width: 80%; 
    color: white;
}

.div-cabecalho h1{  
    font-size: 50px;
    text-transform: uppercase;
    margin: 0%;
    margin-bottom: 40px;
    
}

.div-cabecalho a{
    background-color: #232dea;
    color: aliceblue;
    text-decoration:none;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    
}
   
.div-cabecalho a:hover{
    background-color: rgb(72, 188, 103);
    color:black 
}



.Cabecalho nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
   

}

.Cabecalho nav ul{
    /*background-color: aqua;*/
    text-align: right;
    margin-right: 15px ;
}


.Cabecalho nav a{
color:white;
text-decoration: none;
background-color: #1b24c6;
padding: 5px;
border-radius: 5px;}



.Cabecalho nav a:hover{
    background-color: rgb(243, 244, 246);
    color: #3b45ff;
}

.main{
    width: 90%;
    margin: auto
}

.caixa1{
 background-color:rgba(21, 21, 21, 0.774);
 padding: 10px;
 margin: 26px;
 margin-left: 40px; 
 margin-right: 40px;  
}

.caixa1 h2{
    background-color: rgb(72, 188, 103);
    margin: 5px;
    text-align: center;
    color: white;
    border-radius: 10px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}  

.caixa1 p{
    color: white;
    
}

.textcostum{
    font-family: 'Courier New', Courier, monospace;
}




.caixa2{
    background-color:rgba(21, 21, 21, 0.774);
    padding: 10px;
    margin: 26px;
    margin-left: 40px; 
    margin-right: 40px; 
   }  
   .caixa2 h2{
    background-color: rgb(72, 188, 103);
    margin: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}
    

   .caixa2 p{
    color: rgb(255, 255, 255);
   }
.textcostum2{
    font-family: 'Courier New', Courier, monospace; 
}
   .caixa3{
    background-color:rgba(21, 21, 21, 0.774);
    padding: 15px;
    margin: 26px;
    margin-left: 40px; 
    margin-right: 40px; 
   }

   .caixa3 h2{
    background-color: rgb(72, 188, 103);
    margin: 5px;
    text-align: center;
    color: white;
    border-radius: 10px;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}
   

   .textcostum3{
    font-family: 'Courier New', Courier, monospace; 
   }
   .caixa3 p{
    color: white;
   }

   
   

   .rodape{
    background-color: rgba(21, 21, 21, 0.774);
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
        text-align: center;
   }

